*{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.table{
  display: flex;
  text-align: center;
  justify-content: center;
}
table{
  text-align: center;
  border: 1px solid black;
}
td{
  width: 100px;
  border: 1px solid black;
}
thead{
  width: 100px;
  background-color: aquamarine;
  font-weight: bolder;
}
button{
  width: 80px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid blue;
  background-color: #2e0886;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
  background-color: white;
  color: #2e0886;
  font-weight: bold;
}
label{
  text-align: left;
}
input{
  width: 200px;
  margin-left: 50px;
  text-align: left;
}
nav{
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2e0886;
  color: white;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}